<section id="technologies">
  <h2 class="title">Tecnologías</h2>
  <div class="row">
    <div class="card">
      <div class="tec-logo">
        <img class="tec-img" src="assets/logos/angular.svg" alt="Avatar">
      </div>
      <div class="container">
        <div class="tec-container">
          <span class="tec-Text">Experiencia: {{angular}}</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="tec-logo">
        <img class="tec-img" src="assets/logos/jwtio-json-web-token.svg" alt="Avatar">
      </div>
      <div class="container">
        <div class="tec-container">
          <span class="tec-Text">Experiencia: {{jwt}}</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="tec-logo">
        <img class="tec-img" src="assets/logos/materialize-.svg" alt="Avatar">
      </div>
      <div class="container">
        <div class="tec-container">
          <span class="tec-Text">Experiencia: {{materialze}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="tec-logo">
        <img class="tec-img" src="assets/logos/mysql.svg" alt="Avatar">
      </div>
      <div class="container">
        <div class="tec-container">
          <span class="tec-Text">Experiencia: {{mysql}}</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="tec-logo">
        <img class="tec-img" src="assets/logos/mariadbLogo.svg" alt="Avatar">
      </div>
      <div class="container">
        <div class="tec-container">
          <span class="tec-Text">Experiencia: {{mariadb}}</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="tec-logo">
        <img class="tec-img" src="assets/logos/Node.js_logo.svg" alt="Avatar">
      </div>
      <div class="container">
        <div class="tec-container">
          <span class="tec-Text">Experiencia: {{nodeJs}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="tec-logo">
        <img class="tec-img" src="assets/logos/oracle-seeklogo.com.svg" alt="Avatar">
      </div>
      <div class="container">
        <div class="tec-container">
          <span class="tec-Text">Experiencia:{{oracle}}</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="tec-logo">
        <img class="tec-img" src="assets/logos/postgresLogo.svg" alt="Avatar">
      </div>
      <div class="container">
        <div class="tec-container">
          <span class="tec-Text">Experiencia: {{postgres}}</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="tec-logo">
        <img class="tec-img" src="assets/logos/microsoft-sql-server.svg" alt="Avatar">
      </div>
      <div class="container">
        <div class="tec-container">
          <span class="tec-Text">Experiencia: {{sqlserver}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="tec-logo">
        <img class="tec-img" src="assets/logos/git.svg" alt="Avatar">
      </div>
      <div class="container">
        <div class="tec-container">
          <span class="tec-Text">Experiencia: {{git}}</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="tec-logo">
        <img class="tec-img" src="assets/logos/flutterio-ar21.svg" alt="Avatar">
      </div>
      <div class="container">
        <div class="tec-container">
          <span class="tec-Text">Experiencia: {{flutter}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
