<section id="about">
  <h2 class="title">Sobre mí</h2>
  <p class="text-about">
    Hola mi nombre es Alan Alvarez, ingeniero en sistemas computacionales egresado del Instituto Tecnológico Nacional de México en Celaya. Durante mi trayectoria he participado en  múltiples proyectos en su mayoría enfocados al desarrollo web y la creación de API’s usando diversas tecnologías como son :
    Angular, Node Js, Express JWT, Materialize CSS , JavaScript , PHP , CSS, HTML entre otras.
    Tambien cuento con habilidades para el manejo  de base de datos  con distintas tecnologías como son :
    PostgreSQL, MySQL, Maria DB así como un poco de conocimientos
    prácticos en Oracle DB.
  </p>
  <p class="text-about">
    Puedes contactarme a través del email : alandeveloper96@gmail.com
  </p>
  <p>También puedes descargar mi curriculum dando click al siguiente enlace:  <a href="../../../assets/Files/CURRICULUM_AAV.pdf" download="Curriculum_AAV"> Curriculum</a></p>
</section>

