<h1 class="title">Proyectos realizados</h1>
<div class="text-container">
  <p>
    A continuación se muestran algunos de los proyectos más relevantes en los que he participado, en ellos se indica en qué áreas participe y cual fue mi contribución en cada una de ellas, así como una breve descripción del funcionamiento del proyecto.
  </p>
</div>
<div class="row">
  <div class="card projectCard" data-id="1">
    <div class="container projectPreview">
      <h4 class="skill-text projectName"></h4>
    </div>
  </div>
  <div class="card projectCard" data-id="2">
    <div class="container projectPreview">
      <h4 class="skill-text"><b class="projectName"></b></h4>
    </div>
  </div>
  <div class="card projectCard" data-id="3">
    <div class="container projectPreview">
      <h4 class="skill-text"><b class="projectName"></b></h4>
    </div>
  </div>
  <div class="card projectCard" data-id="4">
    <div class="container projectPreview">
      <h4 class="skill-text"><b class="projectName"></b></h4>
    </div>
  </div>
</div>
