<h1 class="title">Proyectos realizados</h1>
<div class="text-container">
  <p>
    Estos son algunos de los trabajos que he realizado, todos los trabajos han sido publicados y utilizados, sin embargo proyectos como <strong>Semana lince</strong>,
    al ser un desarrollo para un evento educativo anual, se encuentra inactivo, para mas informacion de cada proyecto de click sobre cualquiera de los proyectos y se mostrara información sobre el
  </p>
</div>
<div class="row">
  <div class="card projectCard" data-id="1">
    <div class="skill-logo">
    </div>
    <div class="container">
      <h4 class="skill-text"><b>HTML</b></h4>
      <div id="HTML" class="progress"></div>
    </div>
  </div>
</div>
