<nav>
  <div class="logo">
    <h4>Alan Alvarez</h4>
  </div>
  <ul class="nav-links">
    <li><a class='link' [routerLink]="['/about']" >Sobre mí</a></li>
    <li><a class='link' [routerLink]="['/skill']">Lenguajes</a></li>
    <li><a class='link' [routerLink]="['/technologies']">Tecnologías</a></li>
    <li><a class='link' [routerLink]="['/projects']">Proyectos</a></li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
