<section id="skills">
  <h2 class="title">Lenguajes</h2>
  <div class="descripcion">
    <p>
      A través de mi carrera universitaria y trabajos por mi cuenta, adquiri conocimiento en varios lenguajes tanto de programacion y de marcado y de diseño, a continuacion
      muestro los lenguajes que manejo:
    </p>
  </div>
  <div class="row">
    <div class="card">
      <div class="skill-logo">
        <img class="skill-img" src="assets/logos/HTML5_Logo.svg" alt="Avatar">
      </div>
      <div class="container">
        <span class="tec-Text">Experiencia: {{HTML}}</span>
      </div>
    </div>
    <div class="card">
      <div class="skill-logo">
        <img class="skill-img" src="assets/logos/jsLogo.svg" alt="Avatar">
      </div>
      <div class="container">
        <span class="tec-Text">Experiencia: {{JS}}</span>
      </div>
    </div>
    <div class="card">
      <div class="skill-logo">
        <img class="skill-img" src="assets/logos/cssLogo.svg" alt="Avatar">
      </div>
      <div class="container">
        <span class="tec-Text">Experiencia: {{CSS}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="skill-logo">
        <img class="skill-img" src="assets/logos/php-logo.svg" alt="Avatar">
      </div>
      <div class="container">
        <span class="tec-Text">Experiencia: {{PHP}}</span>
      </div>
    </div>
    <div class="card">
      <div class="skill-logo">
        <img class="skill-img" src="assets/logos/javaLogo.jpeg" alt="Avatar">
      </div>
      <div class="container">
        <span class="tec-Text">Experiencia: {{JAVA}}</span>
      </div>
    </div>
    <div class="card">
      <div class="skill-logo">
        <img class="skill-img" src="assets/logos/sqlLogo.svg" alt="Avatar">
      </div>
      <div class="container">
        <span class="tec-Text">Experiencia: {{SQL}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="skill-logo">
        <img class="skill-img" src="assets/logos/dart-programming.svg" alt="Avatar">
      </div>
      <div class="container">
        <span class="tec-Text">Experiencia: {{Dart}}</span>
      </div>
    </div>
  </div>
</section>
