<section id="skills">
  <h2 class="title">Lenguajes</h2>
  <div class="descripcion">
    <p>
      A través de mi carrera universitaria y trabajos por mi cuenta, adquiri conocimiento en varios lenguajes tanto de programacion y de marcado y de diseño, a continuacion
      muestro los lenguajes que manejo:
    </p>
  </div>
  <div class="row">
    <div class="card">
      <div class="skill-logo">
        <img class="skill-img" src="../../../assets/logos/HTML5_Logo.svg" alt="Avatar">
      </div>
      <div class="container">
        <h4 class="skill-text"><b>HTML</b></h4>
        <div id="HTML" class="progress"></div>
      </div>
    </div>
    <div class="card">
      <div class="skill-logo">
        <img class="skill-img" src="../../../assets/logos/jsLogo.png" alt="Avatar">
      </div>
      <div class="container">
        <h4 class="skill-text"><b>JavaScript</b></h4>
        <div id="JS" class="progress"></div>
      </div>
    </div>
    <div class="card">
      <div class="skill-logo">
        <img class="skill-img" src="../../assets/logos/cssLogo.png" alt="Avatar">
      </div>
      <div class="container">
        <div class="container">
          <h4 class="skill-text"><b>CSS</b></h4>
          <div id="CSS" class="progress"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="skill-logo">
        <img class="skill-img" src="../../assets/logos/phpLogo.jpg" alt="Avatar">
      </div>
      <div class="container">
        <h4 class="skill-text"><b>PHP</b></h4>
        <div id="php" class="progress"></div>
      </div>
    </div>
    <div class="card">
      <div class="skill-logo">
        <img class="skill-img" src="../../assets/logos/javaLogo.jpeg" alt="Avatar">
      </div>
      <div class="container">
        <h4 class="skill-text"><b>Java</b></h4>
        <div id="java" class="progress"></div>
      </div>
    </div>
    <div class="card">
      <div class="skill-logo">
        <img class="skill-img" src="../../assets/logos/sqlLogo.svg" alt="Avatar">
      </div>
      <div class="container">
        <div class="container">
          <h4 class="skill-text"><b>SQL</b></h4>
          <div id="sql" class="progress"></div>
        </div>
      </div>
    </div>
  </div>
</section>
