.descripcion{
  width: 80%;
  margin: 0 10%;
}
.tec-Text{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin-left: 15%;
}
.descripcion p{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
}
.skill-logo{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.card{
  height: 25vh;
  width: 70%;
  margin-left: 15%;
}
.skill-img{
  max-height: 80px;
  max-width: 100px;
  border-radius:4px;
}
.skill-text{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

.progress{
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,122,120,1) 91%, rgba(0,212,255,1) 100%);
  border-radius: 20px;
  color: rgb(226,226,226);
  display: flex;
  justify-content:center;
  transition:transform 2s ease-in;
}
